{% extends 'base.html' %}

{% block content %}
  <h1>Job Tracking App</h1>
  <p>Welcome to the job tracking application. Use the links below to navigate:</p>

  <ul>
    <li><a href="{% url 'create-job' %}">Create Job</a></li>
    <li><a href="{% url 'create-company' %}">Create Company</a></li>
    <li><a href="{% url 'create-recruiter' %}">Create Recruiter</a></li>
    <li><a href="{% url 'jobs' %}">View Jobs</a></li>
    <li><a href="{% url 'companies' %}">View Companies</a></li>
    <li><a href="{% url 'recruiters' %}">View Recruiters</a></li>
    <li><a href="{% url 'job-update' pk=1 %}">Update Job (Example URL with ID=1)</a></li>
    <li><a href="{% url 'recruiter-detail' pk=1 %}">View Recruiter Detail (Example URL with ID=1)</a></li>
    <li><a href="{% url 'recruiter-update' pk=1 %}">Update Recruiter (Example URL with ID=1)</a></li>
    <li><a href="{% url 'company-detail' pk=1 %}">View Company Detail (Example URL with ID=1)</a></li>
    <li><a href="{% url 'company-update' pk=1 %}">Update Company (Example URL with ID=1)</a></li>
  </ul>
{% endblock %}
