{% extends 'base.html' %}

{% block content %}
  <h1>Recruiter: {{ recruiter.name }}</h1>

  <h2>Associated Company</h2>
  <p>{{ recruiter.company.name }}</p>

  <h2>Jobs</h2>
  <ul>
    {% for job in recruiter.job_set.all %}
      <li>{{ job.title }}</li>
    {% empty %}
      <li>No jobs available.</li>
    {% endfor %}
  </ul>

  <h2>Logs</h2>
  <ul>
    {% for log in recruiter.log_set.all %}
      <li>{{ log.entry }}</li>
    {% empty %}
      <li>No logs available.</li>
    {% endfor %}
  </ul>
{% endblock %}
