<!-- calendar.html -->
{% extends 'base.html' %}

{% block content %}
<div id="calendar"></div>

<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        events: '/appointments/', // URL to fetch events from your Django backend
        eventClick: function(event) {
            // Function to handle event click, redirect to the event detail page
            window.location.href = `/appointment/${event.id}/`;
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'month',
        editable: false // Set to true if you want to allow users to drag and drop events
    });
});
</script>
{% endblock %}
